.centerheader {
  text-align: center;
  color: white;
  background: url(https://www.imore.com/sites/imore.com/files/styles/large/public/article_images/2016/08/beauty-beast-dark-wall.jpg)
}

.container{
  width: 960px;
  +clearfix;
}

@media(max-width: 960px)
.container{
  width:auto;
}


.navown{
  font-size: 24px;
  color: rgb(198, 193, 193);

}


.myname{
  font-style: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  color: white ;
  
}

.njpic{
  border-radius: 50%;
  border:2px black;
}


.btn btb-outline-dark {
  border: 1px solid black;
  font-style: times new roman;
  padding: 14px;
  color: white;
  transition-delay: 500ms; 
}

.carousel-item {
 height: 500px;
    text-align: center;
}

.item1 {
  background-color:black;
  /height: 100px;/
}


.item2 {
  background-color: black;
  /height: 100px;/
}
